/* .col-6{
    background: red;
} */
body{
    height: 100vh;
    
    margin: 0;
    
}

.container-fluid{
    height: 100%;
    background-image: url(./images/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    /* background: #f4f4f4 !important; */
    
}

/* .logo{
    height: 20vh;
} */
.relleno{
    height: 10vh;
}

.relleno img{
    height: 100%;
    width: 100%;
}
.card{
    background-color: rgba(255,255,255, 0.2) !important;
    box-shadow: 1px 1px 1px 1px black;
}


 

@media(max-width: 992px){
    .container-fluid{
    
        height: 100%;
        background-image: url(./images/fondopeq.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;}
}

@media(max-width: 1051px){
    .relleno img{
        height: 30%;
        width: 30%;
    }
}
