<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>
    

</head>
<body>
    <div class="container">
<!-- 
        <div class="row relleno ">
          <div class="col"></div>
        </div> -->

        <div class="row contenido ml-0">
            <!-- <div class="col lado1 pl-0 pr-0">
                <img src="../static/images/casa.jpg" alt="Imagen medica">
            </div> -->
            <div class="columnas col-12 col-md-8 offset-md-2 text-center" >
              <div class="card-transparent pt-3" >
                <img src="../static/images/logo escuela.png" class="card-img-top dblock mx-auto" alt="Logo">
                <div class="card-body pb-0">
                  <h3 class="card-title">Bienvenido</h3>
                  <h5>Por favor ingrese su usuario y contraseña</h5>

                  <div class="alert alert-warning" role="alert">
                    El ingreso por voz se encuentra activo.
                  </div>

                  <p>{% if resultado == False %}
                    <div class="alert alert-danger" role="alert">
                      Usuario o contraseña incorrectos, por favor ingrese los datos nuevamente.
                    </div>
                    {% endif %}
                  </p>


                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  
                  <form class="my-auto" action="/" method="post" id = "formLogin">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Usuario</label> 
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text text-center">
                              <img class="ml-1" src="../static/images/icono usuario.png" alt="Logo user">
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese usuario" id="exampleInputEmail1" name="usuario">
                      </div>

                    </div>

                    <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña</label> 
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text ">
                            <img class="ml-1" src="../static/images/passwordd.png" alt="Logo user">
                        </span>
                        </div>
                      <input type="password" class="form-control mb-3" id="exampleInputPassword1" placeholder="Ingrese Contraseña" name=password>
                    </div>
                    
                    
                    <button type="submit" class="ov-btn-slide-top text-center btn-block" onclick="botonIngresar()">Ingresar</button>
                    <!-- <a href="#" class="ov-btn-grow-ellipse text-center">Ingresar</a> -->
                    <!-- <a href="#" class="ov-btn-slide-left ">Registrarse</a> -->
                    
                    <button type="button" class="ov-btn-slide-left btn-block" data-toggle="modal" data-target="#modalRegistro" >Registrarse</button>

                  </form>
                </div>
              </div>
            </div>
            </div>
            <!-- <div class="row relleno2 ">
              <div class="col">
              </div>
            </div> -->
        </div>
    </div>
    <!--todos los modals recomendablemente van fuera de cualquier seccion es decir al nivel del body-->
    <!--modal-->
    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Confirmación de Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="my-auto" action="/registro" method="post" id="formRegistro">
              <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" name="usuarioAdmin">
    
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name = "passwordAdmin">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" onclick="registro()">Continuar</button>
              </div>
            </form>
            <div class="alert alert-success" role="alert">
              Por favor ingrese el usuario y la contraseña del admin para registrarse
            </div>
            <p>{% if verificacion == False %}
              <div class="alert alert-danger" role="alert">
                Usuario o contraseña incorrectos, por favor ingrese los datos nuevamente.
                
              </div>
              {% endif %}
            </p>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="registro()">Continuar</button>
          </div>-->
        </div>
      </div>
  </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </body>

</html>