<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/registro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-8 relleno pt-4 pb-2">
                <img class="img-fluid" src="../static/images/logo escuela.png" alt="Logo escuela">
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">

                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Registro</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Por favor ingrese los datos para su registro</h6>
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Usuario</label>
                          <input type="text" placeholder="Ingrese nuevo usuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">El nombre de usuario no puede ser un correo electronico</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Contraseña</label>
                          <input type="password" placeholder="Ingrese nueva Contraseña" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Repita la Contraseña</label>
                            <input type="password" placeholder="Ingrese nueva Contraseña" class="form-control" id="exampleInputPassword1">
                          </div>
                        <button type="submit" class="btn btn-success">Registrarse</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col relleno"></div>
        </div>
    </div>






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>